[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coxphw"]
	path = coxphw
	url = https://github.com/biometrician/coxphw
[submodule "shrink"]
	path = shrink
	url = https://github.com/biometrician/shrink
